body {
  line-height: 1.5;
  background-color: #fff;
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: circle;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #2a363b;
  font-size: 20px;
}

.active {
  color: red;
}
